
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600;900&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/4b9ba14b0f.js" crossorigin="anonymous"></script>
 <style>



a {
  text-decoration: none;
  color:blue;
  text-align: center;
  font-size: 25px;
}

a:hover {
  text-decoration: underline;
}

 </style>
</head>
<body style="background-image: url('/images/error.jpg'); background-repeat: no-repeat; background-size: cover;">
  
  <div>
    <h3 style="font-size: 50px;">Download File</h3>

    
    <a href="<%= path %>" class="btn btn-danger" download >Download</a>
      </div>
</body>
<script>

</script>
</html>

